/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    
} */

h1 {
    font-size: 10vw;

    background-color: aqua;
    border-width: 2px;
    border-color: blue;
    border-style:solid;
}
ul {
    background-color: rgb(183, 150, 214);
    width: 100%;
}

p{
    font-size: 21px;
    font-weight: 200;
    border-width: 4px;
    border-style: solid;
    border-color: blueviolet;
    padding: 10px;
    
    background-color: aqua;
}