*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: grey;
    padding: 20px;
    display: grid;
    /* frection */
    /* grid-template-columns: 200px 200px 200px ; */
    grid-template-columns: 1fr 1fr 1fr;
    /* frection */
    /* grid-template-rows: 200px 200px; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 3px;
}
.box{
    /* height: 200px;
    width: 200px; */
    font-size: 2rem;
    border: 5px solid black;
    background-color: orange;
    margin: 5px;
    
}

.header, .footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* sort notetion */
    grid-column: 1/4;
}
.sideBar{
  
    /* grid-row-start: 2;
    grid-row-end: 4; */
        /* sort notetion */
    grid-row: 2/4;
 
}
.content{
    grid-column: 2/4;
}