/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    
    background-color: hsl(0, 0%, 80%);
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: hsl(0, 0%, 50%);
    /* background: rgba(255, 255, 255, 0.10); */
    box-shadow: 10px 0px 100px 1px hsl(0, 0%, 50%);
    padding: 15px;
    
}
h1{
    color: white;
    font-size: 50px;
    margin: 10px;
}
input{
    width: 100vh;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;

    
}
label{
    padding: 15px;

    
}
form{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:hsl(60, 6%, 3%);
    
}
 #first{
     font-size: 15px;
     border: none;
   
}
#second{
    font-size: 15px;
    border: none;
  
} 
#third{
    font-size: 15px;
    border: none;
    
} 
button{
    width: 100vh;
    height: 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(70, 70, 213);
    color: white;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}