*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: grey;
}
.container{
    height: 50vw;
    width: 50vw;
    background-color: grey;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px; */
    grid-template-columns: repeat(8,1fr);
    /* grid-template-rows:    100px 100px 100px 100px 100px 100px 100px 100px; */
    grid-template-rows: repeat(8,1fr);

}
.white{
    height: 100px;
    width: 100px;
    background-color: white;
}
.black{ 
    height: 100px;
    width: 100px;
    background-color: black;
}