.container {
    background-color: aqua;
    margin-left:200px;
    margin-top: 150px;
}
.box {
    height: 200px;
    width: 150px;
    /* position: absolute; */
    position: relative;
    display: inline-block;
    
    /* position: relative; */

    /* background-color: blue; */

}
.box1 {
    background-color: red;
}
.box2 {
    background-color: green;
    position: absolute;
    position: fixed;
    z-index: -1;
     top: 20px;
    /* left: 22px; */ 
}
.box3 {
    background-color: gold;
}
.box4 {
    background-color: gray;
}