body{
    height: 100vh;
    width: 100vw;
    background-color: hsl(10, 56%, 80%);
     display: flex;
    justify-content: center;
    align-items: center; 
        margin-top: 10rem;

}
.container{
    height: 600px;
    width: 600px;
    background-color: aqua;
    padding: 2rem;
    margin-left: 5rem;
    /* position: absolute; */
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.board{
    height: 100px;
    width: 100px;
    background-color: hsl(0, 0%, 80%);
    display: grid;
    /* grid-template-columns: repeat(3 1fr); */
    grid-template-columns: 100px 100px 100px  ;
    gap: .5rem;    
    margin-left: 140px;
}
.cell{
    height: 100px;
    width: 100px;
    font-size: 4rem;
    background-color: white;
    border: 3px solid rgb(14, 20, 17);
    display: flex;
    justify-content: center;
    align-items: center;

}
#restartButton{
    margin-top: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid seagreen;
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    /* width: 10px; */
    margin-left: 200px;

}