/* .box {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: rgb(136, 136, 220);
}
.container {
    background-color: rgb(135, 199, 199);
    top: 100px;
    margin: 200px;
}
.box1 {
    background-color: red;
}
.box2 {
    background-color: #72e97a;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: -1;
}
.box3 {
    background-color: rgb(74, 36, 189);
}
.box4 {
    background-color: rgb(246, 255, 0);
} */


div {
    background-color: aqua;
    height: 300px;
    width: 300px;
    overflow:auto;
}
