.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
header .icon-card{
    position: relative;
}
header .icon-card span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.ListProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.ListProduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;    
}
.ListProduct .item{
    background-color: #eeee6e;
    padding: 20px;
    border-radius: 20px;
}

.ListProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.ListProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.ListProduct .item button{
    background-color: #353432;
    color:#eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0; */
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translate(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    background-color: #eeee6e;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}

.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}