* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
   margin-top:50px;
   margin-left: 250px;
}
.container {
    width: 300px;
    height: 400px;
    /* background-color: rgb(167, 167, 233); */
     background-color: #3F5EFB; 
     background-color: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); 
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 0px 100px 20px;

}
.container:hover {
    background-color: brown;
    color: gold;
    scale: 1px;
}
.img1 {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}
.heading {
    font-size: 18px;
    color: black;
}
.para {
    color: black;
    word-spacing: 1px;
    letter-spacing: 1;
}
.section {
    width: 100%;
    height: 25px;
    border-radius: 10px;
    /* padding-top: 10px */
    
    background-color: aqua;
    
}
.email {
    /* padding: 5px; */
    margin-left: 50px;
}