html{
    background-color: rgb(34, 34, 241);
}
.Weather-container{

    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
   

}
input{
    height: 5px;
    width: 200px;
    font-size: 10px;
    padding: 10px;
    gap: 5px;
    /* margin-bottom: 10px; */
    /* margin-top: 4px; */
}
button{
    gap: 5px;
    height: 25px;
    font-size: 20px;
    background-color: rgb(82, 34, 212);
    color: white;
    /* margin-top: 10px; */
    border: 100px;
}